<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kim.mapper.AchievementMapper">

    <!--前端使用-->
    <select id="selectMAchievement" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            BA.*,
            IFNULL(BAD.BAD_COUNT,0) BAD_COUNT,
            BAD.BAD_ID,
            CONCAT(BSF.SF_PATH,'@@@',BSF.SF_NAME) IMG_PATH_BTN
        FROM BUS_ACHIEVEMENT BA
        LEFT JOIN (SELECT BA_ID,COUNT(1) BAD_COUNT,MAX(ID) BAD_ID FROM BUS_ACHIEVEMENT_DETAIL WHERE BW_ID = #{ID} GROUP BY BA_ID)BAD ON BAD.BA_ID = BA.ID
        LEFT JOIN SYS_FILE BSF ON BSF.SF_TABLE_NAME = 'BUS_ACHIEVEMENT' AND BSF.SF_TABLE_ID = BA.ID AND BSF.SF_SDI_CODE = 0
        WHERE BA.IS_STATUS = 1
    </select>

    <!--前端使用-->
    <select id="selectMAchievementListByWechat" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            BA.*,
            IFNULL(BAD.BAD_COUNT,0) BAD_COUNT,
            CONCAT(SF.SF_PATH,'@@@',SF.SF_NAME) IMG_PATH,
            CONCAT(SFI.SF_PATH,'@@@',SFI.SF_NAME) IMG_PATH_IN
        FROM BUS_ACHIEVEMENT BA
        LEFT JOIN (SELECT BA_ID,COUNT(1) BAD_COUNT FROM BUS_ACHIEVEMENT_DETAIL WHERE BW_ID = #{ID} GROUP BY BA_ID)BAD ON BAD.BA_ID = BA.ID
        LEFT JOIN SYS_FILE SF ON SF.SF_TABLE_NAME = 'BUS_ACHIEVEMENT' AND SF.SF_TABLE_ID = BA.ID AND SF.SF_SDI_CODE = 1
        LEFT JOIN SYS_FILE SFI ON SFI.SF_TABLE_NAME = 'BUS_ACHIEVEMENT' AND SFI.SF_TABLE_ID = BA.ID AND SFI.SF_SDI_CODE = 2
        WHERE BA.IS_STATUS = 1
        ORDER BY BAD.BAD_COUNT DESC,BA.BA_ENTRYTIME ASC
    </select>

    <!--最终成就-->
    <select id="selectMAchievementEnd" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            CONCAT(SF.SF_PATH,'@@@',SF.SF_NAME) IMG_PATH,
            CONCAT(SFI.SF_PATH,'@@@',SFI.SF_NAME) IMG_PATH_IN
        FROM SYS_DICT_INFO SDI
        INNER JOIN SYS_FILE SF ON SF.SF_SDT_CODE = 'BUS_ACHIEVEMENT_END' AND SF.SF_TABLE_ID = '1' AND SF.SF_SDI_CODE = 1
        INNER JOIN SYS_FILE SFI ON SFI.SF_SDT_CODE = 'BUS_ACHIEVEMENT_END' AND SFI.SF_TABLE_ID = '1' AND SFI.SF_SDI_CODE = 2
        WHERE SDI.SDT_CODE = 'BUS_ACHIEVEMENT_END' AND SF.SF_TABLE_ID = '1'
        GROUP BY CONCAT(SF.SF_PATH,'@@@',SF.SF_NAME),CONCAT(SFI.SF_PATH,'@@@',SFI.SF_NAME)
    </select>

    <!--查询-->
    <select id="selectAchievementDetail" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT BAD.*,BW.BW_USERNAME
        FROM(
            SELECT * FROM BUS_ACHIEVEMENT_DETAIL
            <where>
                <if test ="ID != NULL and ID != ''">
                    AND ID = #{ID}
                </if>
                <if test ="BA_ID != NULL and BA_ID != ''">
                    AND BA_ID = #{BA_ID}
                </if>
                <if test ="BW_ID != NULL and BW_ID != ''">
                    AND BW_ID = #{BW_ID}
                </if>
            </where>
        )BAD
        INNER JOIN BUS_WECHAT BW ON BW.ID = BAD.BW_ID
    </select>

    <!--插入-->
    <insert id="insertAchievementDetail" parameterType="java.util.Map">
        INSERT INTO BUS_ACHIEVEMENT_DETAIL
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="ID != null">ID,</if>
            <if test="BA_ID != null">BA_ID,</if>
            <if test="BW_ID != null">BW_ID,</if>
            <if test="BAD_ADDRESS != null">BAD_ADDRESS,</if>
            <if test="BAD_REMARKS != null">BAD_REMARKS,</if>
            <if test="BAD_FILETYPE != null">BAD_FILETYPE,</if>
            <if test="BAD_ENTERTIME != null">BAD_ENTERTIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="ID != null">#{ID},</if>
            <if test="BA_ID != null">#{BA_ID},</if>
            <if test="BW_ID != null">#{BW_ID},</if>
            <if test="BAD_ADDRESS != null">#{BAD_ADDRESS},</if>
            <if test="BAD_REMARKS != null">#{BAD_REMARKS},</if>
            <if test="BAD_FILETYPE != null">#{BAD_FILETYPE},</if>
            <if test="BAD_ENTERTIME != null">#{BAD_ENTERTIME},</if>
        </trim>
    </insert>

    <!--编辑-->
    <update id="updateAchievementDetail" parameterType="java.util.Map">
        UPDATE BUS_ACHIEVEMENT_DETAIL
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BA_ID != null">BA_ID=#{BA_ID},</if>
            <if test="BW_ID != null">BW_ID=#{BW_ID},</if>
            <if test="BAD_ADDRESS != null">BAD_REMARKS=#{BAD_ADDRESS},</if>
            <if test="BAD_REMARKS != null">BAD_REMARKS=#{BAD_REMARKS},</if>
            <if test="BAD_ENTERTIME != null">BAD_ENTERTIME=#{BAD_ENTERTIME},</if>
        </set>
        <where>
            ID=#{ID}
        </where>
    </update>

    <!--删除-->
    <delete id="deleteAchievementDetail" parameterType="java.util.Map">
		DELETE FROM BUS_ACHIEVEMENT_DETAIL WHERE ID = #{ID}
	</delete>

    <select id="selectAchievementDetailListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM V_ACHIEVEMENT_DETAIL
        <where>
            <if test="BW_ID != null and BW_ID != ''">
                AND BW_ID = #{BW_ID}
            </if>
        </where>
    </select>

    <select id="selectMAchievementDetailList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT *
        FROM V_ACHIEVEMENT_DETAIL
        <where>
            <if test="whereClause != null and whereClause != ''">
                ${whereClause}
            </if>
        </where>
        <if test="orderByClause != null and orderByClause != ''">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>

    <select id="selectMAchievementDetailListCount" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM V_ACHIEVEMENT_DETAIL
        <where>
            <if test="whereClause != null and whereClause != ''">
                ${whereClause}
            </if>
        </where>
    </select>

    <select id="selectMAchievementDetail" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT VAD.*,SF.FILE_PATH
        FROM V_ACHIEVEMENT_DETAIL VAD
        LEFT JOIN (SELECT SF.SF_TABLE_ID,GROUP_CONCAT(SF.SF_PATH,'@@@',SF.SF_NAME) FILE_PATH FROM SYS_FILE SF WHERE SF.SF_SDT_CODE='BUS_FILE_DEFAULT' GROUP BY SF.SF_TABLE_ID)SF ON SF.SF_TABLE_ID = VAD.ID
        WHERE VAD.ID = #{ID}
    </select>

    <!--查询-->
    <select id="selectMainImageAchievement" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        BMIA.*,
        BA.BA_NAME
        FROM(
        SELECT * FROM BUS_MAIN_IMAGE_ACHIEVEMENT
        <where>
            <if test ="ID != NULL and ID != ''">
                AND ID = #{ID}
            </if>
            <if test ="BMI_ID != NULL and BMI_ID != ''">
                AND BMI_ID = #{BMI_ID}
            </if>
            <if test ="BMI_ID_LIST != NULL and BMI_ID_LIST != ''">
                AND BMI_ID IN(${BMI_ID_LIST})
            </if>
        </where>
        )BMIA
        INNER JOIN BUS_ACHIEVEMENT BA ON BA.ID = BMIA.BA_ID
    </select>

    <!--插入-->
    <insert id="insertMainImageAchievement" parameterType="java.util.Map">
        INSERT INTO BUS_MAIN_IMAGE_ACHIEVEMENT
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="ID != null">ID,</if>
            <if test="BA_ID != null">BA_ID,</if>
            <if test="BMI_ID != null">BMI_ID,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="ID != null">#{ID},</if>
            <if test="BA_ID != null">#{BA_ID},</if>
            <if test="BMI_ID != null">#{BMI_ID},</if>
        </trim>
    </insert>

    <!--编辑-->
    <update id="updateMainImageAchievement" parameterType="java.util.Map">
        UPDATE BUS_MAIN_IMAGE_ACHIEVEMENT
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BA_ID != null">BA_ID=#{BA_ID},</if>
            <if test="BMI_ID != null">BMI_ID=#{BMI_ID},</if>
        </set>
        <where>
            ID=#{ID}
        </where>
    </update>

    <!--删除-->
    <delete id="deleteMainImageAchievement" parameterType="java.util.Map">
		DELETE FROM BUS_MAIN_IMAGE_ACHIEVEMENT
        <where>
            <if test="ID !=null and ID != ''">
                AND ID=#{ID}
            </if>
            <if test="BA_ID !=null and BA_ID != ''">
                AND BA_ID=#{BA_ID}
            </if>
            <if test="BMI_ID !=null and BMI_ID != ''">
                AND BMI_ID=#{BMI_ID}
            </if>
        </where>
	</delete>

    <!--成就墙打卡人数 -->
    <select id="selectAchievementClockinStatistic" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM(SELECT BA.BA_NAME,COUNT(DISTINCT BAD.BA_ID) CLOCKIN_COUNT FROM bus_achievement BA INNER JOIN bus_achievement_detail BAD ON BAD.BA_ID = BA.ID
        WHERE BA.IS_STATUS = 1 GROUP BY BA.BA_NAME)TEMP ORDER BY CLOCKIN_COUNT DESC
    </select>
</mapper>