<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kim.mapper.WechatMapper">

    <!--查询-->
    <select id="selectWechat" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM BUS_WECHAT
        <where>
            <if test="ID != NULL and ID != ''">
                AND ID = #{ID}
            </if>
            <if test="BW_OPENID != NULL and BW_OPENID != ''">
                AND BW_OPENID = #{BW_OPENID}
            </if>
        </where>
    </select>

    <!--插入-->
    <insert id="insertWechat" parameterType="java.util.Map">
        INSERT INTO BUS_WECHAT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="SO_ID != null">SO_ID,</if>
            <if test="BW_UUID != null">BW_UUID,</if>
            <if test="BW_USERNAME != null">BW_USERNAME,</if>
            <if test="BW_NICKNAME != null">BW_NICKNAME,</if>
            <if test="BW_GENDER != null">BW_GENDER,</if>
            <if test="BW_AVATAR != null">BW_AVATAR,</if>
            <if test="BW_LOCATION != null">BW_LOCATION,</if>
            <if test="BW_SOURCE != null">BW_SOURCE,</if>
            <if test="BW_ACCESSTOKEN != null">BW_ACCESSTOKEN,</if>
            <if test="BW_EXPIREIN != null">BW_EXPIREIN,</if>
            <if test="BW_OPENID != null">BW_OPENID,</if>
            <if test="BW_REFRESHTOKEN != null">BW_REFRESHTOKEN,</if>
            <if test="BW_ENTRYTIME != null">BW_ENTRYTIME,</if>
            <if test="BW_LOGINTIME != null">BW_LOGINTIME,</if>
            <if test="IS_STATUS != null">IS_STATUS,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="SO_ID != null">#{SO_ID},</if>
            <if test="BW_UUID != null">#{BW_UUID},</if>
            <if test="BW_USERNAME != null">#{BW_USERNAME},</if>
            <if test="BW_NICKNAME != null">#{BW_NICKNAME},</if>
            <if test="BW_GENDER != null">#{BW_GENDER},</if>
            <if test="BW_AVATAR != null">#{BW_AVATAR},</if>
            <if test="BW_LOCATION != null">#{BW_LOCATION},</if>
            <if test="BW_SOURCE != null">#{BW_SOURCE},</if>
            <if test="BW_ACCESSTOKEN != null">#{BW_ACCESSTOKEN},</if>
            <if test="BW_EXPIREIN != null">#{BW_EXPIREIN},</if>
            <if test="BW_OPENID != null">#{BW_OPENID},</if>
            <if test="BW_REFRESHTOKEN != null">#{BW_REFRESHTOKEN},</if>
            <if test="BW_ENTRYTIME != null">#{BW_ENTRYTIME},</if>
            <if test="BW_LOGINTIME != null">#{BW_LOGINTIME},</if>
            <if test="IS_STATUS != null">#{IS_STATUS},</if>
        </trim>
    </insert>

    <!--编辑-->
    <update id="updateWechat" parameterType="java.util.Map">
        UPDATE BUS_WECHAT
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BW_UUID != null">BW_UUID=#{BW_UUID},</if>
            <if test="BW_USERNAME != null">BW_USERNAME=#{BW_USERNAME},</if>
            <if test="BW_NICKNAME != null">BW_NICKNAME=#{BW_NICKNAME},</if>
            <if test="BW_GENDER != null">BW_GENDER=#{BW_GENDER},</if>
            <if test="BW_AVATAR != null">BW_AVATAR=#{BW_AVATAR},</if>
            <if test="BW_LOCATION != null">BW_LOCATION=#{BW_LOCATION},</if>
            <if test="BW_SOURCE != null">BW_SOURCE=#{BW_SOURCE},</if>
            <if test="BW_ACCESSTOKEN != null">BW_ACCESSTOKEN=#{BW_ACCESSTOKEN},</if>
            <if test="BW_EXPIREIN != null">BW_EXPIREIN=#{BW_EXPIREIN},</if>
            <if test="BW_OPENID != null">BW_OPENID=#{BW_OPENID},</if>
            <if test="BW_REFRESHTOKEN != null">BW_REFRESHTOKEN=#{BW_REFRESHTOKEN},</if>
            <if test="BW_LOGINTIME != null">BW_LOGINTIME=#{BW_LOGINTIME},</if>
            <if test="IS_STATUS != null">IS_STATUS=#{IS_STATUS},</if>
        </set>
        <where>
            ID=#{ID}
        </where>
    </update>

    <!--删除-->
    <delete id="deleteWechat" parameterType="java.util.Map">
		DELETE FROM BUS_WECHAT WHERE ID = #{ID}
	</delete>

    <select id="selectContactServiceFile" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT  CONCAT(SF.SF_PATH,'@@@',SF.SF_NAME) IMG_PATH FROM SYS_FILE SF WHERE SF.SF_TABLE_NAME = 'CONTACT_SERVICE' AND SF.SF_TABLE_ID = 'CONTACT_SERVICE'
    </select>

    <!--查询-->
    <select id="selectWechatPraise" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM BUS_WECHAT_PRAISE
        <where>
            <if test="ID != NULL and ID != ''">
                AND ID = #{ID}
            </if>
            <if test="BW_ID != NULL and BW_ID != ''">
                AND BW_ID = #{BW_ID}
            </if>
        </where>
    </select>

    <!--插入-->
    <insert id="insertWechatPraise" parameterType="java.util.Map">
        INSERT INTO BUS_WECHAT_PRAISE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="BW_ID != null">BW_ID,</if>
            <if test="BWP_NUMBER != null">BWP_NUMBER,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="BW_ID != null">#{BW_ID},</if>
            <if test="BWP_NUMBER != null">#{BWP_NUMBER},</if>
        </trim>
    </insert>

    <!--编辑-->
    <update id="updateWechatPraise" parameterType="java.util.Map">
        UPDATE BUS_WECHAT_PRAISE
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BW_ID != null">BW_ID=#{BW_ID},</if>
            <if test="BWP_NUMBER != null">BWP_NUMBER=#{BWP_NUMBER},</if>
        </set>
        <where>
            ID=#{ID}
        </where>
    </update>

    <!--删除-->
    <delete id="deleteWechatPraise" parameterType="java.util.Map">
		DELETE FROM BUS_WECHAT_PRAISE WHERE ID = #{ID}
	</delete>

    <!--查询-->
    <select id="selectWechatPraisePoint" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM BUS_WECHAT_PRAISE_POINT
        <where>
            <if test="ID != NULL and ID != ''">
                AND ID = #{ID}
            </if>
        </where>
    </select>

    <!--插入-->
    <insert id="insertWechatPraisePoint" parameterType="java.util.Map">
        INSERT INTO BUS_WECHAT_PRAISE_POINT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="BWPP_FROM_ID != null">BWPP_FROM_ID,</if>
            <if test="BWPP_TO_ID != null">BWPP_TO_ID,</if>
            <if test="BWPP_ENTRY_TIME != null">BWPP_ENTRY_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="BWPP_FROM_ID != null">#{BWPP_FROM_ID},</if>
            <if test="BWPP_TO_ID != null">#{BWPP_TO_ID},</if>
            <if test="BWPP_ENTRY_TIME != null">#{BWPP_ENTRY_TIME},</if>
        </trim>
    </insert>

    <!--编辑-->
    <update id="updateWechatPraisePoint" parameterType="java.util.Map">
        UPDATE BUS_WECHAT_PRAISE_POINT
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BWPP_FROM_ID != null">BWPP_FROM_ID=#{BWPP_FROM_ID},</if>
            <if test="BWPP_TO_ID != null">BWPP_TO_ID=#{BWPP_TO_ID},</if>
            <if test="BWPP_ENTRY_TIME != null">BWPP_ENTRY_TIME=#{BWPP_ENTRY_TIME},</if>
        </set>
        <where>
            ID=#{ID}
        </where>
    </update>

    <!--删除-->
    <delete id="deleteWechatPraisePoint" parameterType="java.util.Map">
		DELETE FROM BUS_WECHAT_PRAISE_POINT WHERE BWPP_FROM_ID = #{BWPP_FROM_ID} AND BWPP_TO_ID = #{BWPP_TO_ID}
	</delete>

    <!--查询需要保存排名-->
    <select id="selectWechatSaveRank" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT *
        FROM(
            SELECT CAST(@RANK := @RANK +1 AS SIGNED) AS WECHAT_RANK,BW.*,IMG.BWR_LIGHT_ICON
            FROM
            (SELECT @RANK := 0) r,
            (SELECT
                    BW.ID,
                    BW.BW_USERNAME,BW.BW_AVATAR,
                    EAD.BAD_ENTERTIME,
                    IFNULL(BWD.CLOCKIN_COUNT,0) CLOCKIN_COUNT,
                    IFNULL(BWP.BWP_NUMBER,0) BWP_NUMBER
            FROM BUS_WECHAT BW
            LEFT JOIN (SELECT BAD.BW_ID,COUNT(DISTINCT BAD.BW_ID) CLOCKIN_COUNT FROM BUS_ACHIEVEMENT_DETAIL BAD INNER JOIN BUS_ACHIEVEMENT BA
                ON BA.ID = BAD.BA_ID AND BA.IS_STATUS = 1 GROUP BY BAD.BW_ID
            )BWD ON BWD.BW_ID = BW.ID
            LEFT JOIN BUS_ACHIEVEMENT_DETAIL EAD ON EAD.BW_ID = BW.ID AND EAD.ID = (SELECT MIN(EAD.ID) FROM
            BUS_ACHIEVEMENT_DETAIL EAD WHERE EAD.BW_ID = BW.ID GROUP BY EAD.BW_ID) AND EAD.BA_ID IN(SELECT BA.ID FROM
            BUS_ACHIEVEMENT BA WHERE BA.IS_STATUS = 1 )
            LEFT JOIN BUS_WECHAT_PRAISE BWP ON BWP.BW_ID = BW.ID
            ORDER BY BWD.CLOCKIN_COUNT DESC,IFNULL(BWP.BWP_NUMBER,0) DESC,EAD.BAD_ENTERTIME ASC
            )BW
            LEFT JOIN(
                SELECT ID,GROUP_CONCAT(BWR_LIGHT_ICON ORDER BY BA_ENTRYTIME ASC,BA_ID ASC) BWR_LIGHT_ICON
                FROM(
                    SELECT
                        BW.ID,BA.ID BA_ID,BA.BA_ENTRYTIME,
                        (CASE WHEN BAD.BA_ID IS NOT NULL THEN  CONCAT(SFA.SF_PATH,'@@@',SFA.SF_NAME) ELSE  CONCAT(SFA.SF_PATH,'@@@',SFA.SF_NAME,'@@@0') END) BWR_LIGHT_ICON
                    FROM BUS_WECHAT BW
                    INNER JOIN BUS_ACHIEVEMENT BA ON BA.IS_STATUS = 1
                    LEFT JOIN (SELECT BW.ID,BAD.BA_ID FROM BUS_WECHAT BW
                    INNER JOIN BUS_ACHIEVEMENT_DETAIL BAD ON BAD.BW_ID = BW.ID
                    GROUP BY BW.ID,BAD.BA_ID)BAD ON BA.ID = BAD.BA_ID AND BW.ID = BAD.ID
                    LEFT JOIN SYS_FILE SFA ON SFA.SF_TABLE_NAME = 'BUS_ACHIEVEMENT' AND SFA.SF_TABLE_ID = BA.ID AND SFA.SF_SDI_CODE = 2
                )IMG
                    GROUP BY ID
            )IMG ON IMG.ID = BW.ID
        )TEMP
    </select>

    <!--插入排名-->
    <insert id="insertWechatRank" parameterType="java.util.Map">
        INSERT INTO BUS_WECHAT_RANK
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="ID != null">ID,</if>
            <if test="BW_ID != null">BW_ID,</if>
            <if test="BW_USERNAME != null">BW_USERNAME,</if>
            <if test="BW_AVATAR != null">BW_AVATAR,</if>
            <if test="BWR_RANK != null">BWR_RANK,</if>
            <if test="BWR_LAST_TIME != null">BWR_LAST_TIME,</if>
            <if test="BWR_CLOCKIN_COUNT != null">BWR_CLOCKIN_COUNT,</if>
            <if test="BWP_NUMBER != null">BWP_NUMBER,</if>
            <if test="BWR_LIGHT_ICON != null">BWR_LIGHT_ICON,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="ID != null">#{ID},</if>
            <if test="BW_ID != null">#{BW_ID},</if>
            <if test="BW_USERNAME != null">#{BW_USERNAME},</if>
            <if test="BW_AVATAR != null">#{BW_AVATAR},</if>
            <if test="BWR_RANK != null">#{BWR_RANK},</if>
            <if test="BWR_LAST_TIME != null">#{BWR_LAST_TIME},</if>
            <if test="BWR_CLOCKIN_COUNT != null">#{BWR_CLOCKIN_COUNT},</if>
            <if test="BWP_NUMBER != null">#{BWP_NUMBER},</if>
            <if test="BWR_LIGHT_ICON != null">#{BWR_LIGHT_ICON},</if>
        </trim>
    </insert>

    <!--编辑-->
    <update id="updateWechatRank" parameterType="java.util.Map">
        UPDATE BUS_WECHAT_RANK
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BW_ID != null">BW_ID=#{BW_ID},</if>
            <if test="BW_USERNAME != null">BW_USERNAME=#{BW_USERNAME},</if>
            <if test="BW_AVATAR != null">BW_AVATAR=#{BW_AVATAR},</if>
            <if test="BWR_RANK != null">BWR_RANK=#{BWR_RANK},</if>
            <if test="BWR_LAST_TIME != null">BWR_LAST_TIME=#{BWR_LAST_TIME},</if>
            <if test="BWR_CLOCKIN_COUNT != null">BWR_CLOCKIN_COUNT=#{BWR_CLOCKIN_COUNT},</if>
            <if test="BWP_NUMBER != null">BWP_NUMBER=#{BWP_NUMBER},</if>
        </set>
        <where>
            ID=#{ID}
        </where>
    </update>

    <!--删除排名-->
    <delete id="deleteWechatRank" parameterType="java.util.Map">
		DELETE FROM BUS_WECHAT_RANK
	</delete>

    <!--注册统计数据 -->
    <select id="selectWechatRegisterStatistic" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM(SELECT DATE_FORMAT(BW_ENTRYTIME,'%Y-%m-%d') ENTRY_TIME,COUNT(1) ENTRY_COUNT FROM BUS_WECHAT GROUP BY DATE_FORMAT(BW_ENTRYTIME,'%Y-%m-%d'))TEMP ORDER BY ENTRY_TIME ASC
    </select>

    <!--登录统计数据 -->
    <select id="selectWechatLoginStatistic" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM(SELECT SL.ENTRY_TIME,COUNT(1) ENTRY_COUNT FROM(SELECT DATE_FORMAT(SL.SL_ENTERTIME,'%Y-%m-%d') ENTRY_TIME FROM bus_wechat BW  INNER JOIN SYS_LOG SL ON BW.SO_ID = SL.SO_ID  AND SL.ID = (SELECT MAX(L.ID) FROM sys_log L WHERE L.SO_ID = SL.SO_ID AND L.SL_TYPE = 10 AND L.SL_RESULT = 1 AND DATE_FORMAT(L.SL_ENTERTIME,'%Y-%m-%d') = DATE_FORMAT(SL.SL_ENTERTIME,'%Y-%m-%d')) WHERE SL.SL_TYPE = 10 AND SL.SL_RESULT = 1)SL GROUP BY SL.ENTRY_TIME)TEMP ORDER BY ENTRY_TIME ASC
    </select>
</mapper>